// SPDX-License-Identifier: GPL-2.0

/dts-v1/;
#include "mt8127.dtsi"

/ {
	model = "MediaTek MT8127 Amazon Ford";
	compatible = "amazon,ford", "mediatek,mt8127";

	memory {
		device_type = "memory";
		reg = <0 0x80000000 0 0x40000000>;
	};
	
	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0";
	};
};

&uart0 {
	status = "okay";
};
